<head>
    <meta charset="UTF-8">
    <title><%= config.title %></title>
    <link rel="stylesheet" href="<%= url_for('/css/w3.css') %>">
    <link rel="stylesheet" href="<%= url_for('/css/style.css') %>">
  </head>
  