<header class="w3-container w3-padding-16 w3-indigo ">
    <a class="w3-xlarge" href="<%= config.url %>"><%= config.title %></a>

    <nav class="w3-container">
        <a class="w3-button" href="/">Inicio</a>
        <div class="w3-dropdown-hover">
            <button class="w3-button">Estudio</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/unidad1/index" class="w3-bar-item w3-button">Unidad 1</a>
                <a href="/404" class="w3-bar-item w3-button">Unidad 2</a>
                <a href="/404" class="w3-bar-item w3-button">Unidad 3</a>
                <a href="/404" class="w3-bar-item w3-button">Unidad 4</a>
                <a href="/404" class="w3-bar-item w3-button">Unidad 5</a>
                <a href="/404" class="w3-bar-item w3-button">Unidad 6</a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <button class="w3-button">Ir al Classroom</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="https://classroom.google.com" class="w3-bar-item w3-button">Inicio</a>
                <a href="https://classroom.google.com/c/Njg0NjE0ODg0MzI5" class="w3-bar-item w3-button">Comisi칩n 1</a>
                <a href="https://classroom.google.com/c/Njg0NjE0ODkwNDEw" class="w3-bar-item w3-button">Comisi칩n 2</a>
                <a href="https://classroom.google.com/c/Njg0NjE0ODU5Mzgx" class="w3-bar-item w3-button">Comisi칩n 3</a>
            </div>
        </div>
        <a class="w3-button" href="/sobre-edo">M치s sobre la EDO</a>

    </nav>

    <!--
    <nav>
      <ul>
        <% for (var i in theme.menu) { %>
          <li><a href="<%= url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>
    </nav>
    -->
  </header>
  